@using eShop.Domain.Entities
@model CategoryViewModel

<div class="row pt-4 pb-23">
    <div class="col-6">
        <h2 class="text-primary">Редагування категорії</h2>
    </div>
    <div class="col-6 text-end">
        <a asp-controller="category" asp-action="index" class="btn btn-outline-primary">
            <i class="bi bi-arrow-left">Back To List</i>
        </a>
    </div>
</div>

<form method="post">
    <div class="border p-3 p-4">
        <input asp-for="Id" hidden />
        <div class="row mb-3 p-1">
            Ви справді бажаєте видалити категорію <strong style="display:inline-block !important">@Model.Name</strong>?
        </div>
       
        <div class="row">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-primary form-control">Remove</button>
            </div>
            <div class="col-6 col-md-3">
                <a asp-controller="category" asp-action="index" class="btn btn-secondary border form-control">Batck To List</a>
            </div>
        </div>
    </div>
</form>
